
:root {
    --bg-acqua: #1ABC9C;
    --bg-dark: #2C3E50;
    --bg-darkblue: #3A546D;
}

/* style */
header,
.copyright {
    background-color: var(--bg-dark);
    color: white;
}


.main_header,
.about {
    background-color: var(--bg-acqua);
    color: white;
}


.contacts {
    background-color: var(--bg-darkblue);
    color: white;
}

input::placeholder,
textarea::placeholder {
    font-weight: 600;
}

.green_button {
    background-color: var(--bg-acqua);
    color: white;
    padding: 0 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 44px;
    border-radius: 8px;
    width: 60px;
    
}

.link_green {
    color: var(--bg-acqua);
    text-decoration: none;
    font-weight: 600;
}

.social_list li {
    border: 1px solid white;
    border-radius: 999px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}





/* LINE STAR */

.line-l::before {

    content: '';
	width: 140px;
	height: 4px;
	display: flex;

    }

.line-r::after {

    content: '';
	width: 140px;
	height: 4px;
	display: flex;

    }

  .line-l.black-line,
  .line-r.black-line {
      background-color: black;
      border-radius: 25px;
  }
  
  .line-l.white-line,
  .line-r.white-line {
      background-color: white;
      border-radius: 25px;
  }