
:root {
    --bg-acqua: #1ABC9C;
    --bg-dark: #2C3E50;
    --bg-darkblue: #3A546D;
}

/* HEADER */
header,
.copyright {
    background-color: var(--bg-dark);
    color: white;
}


/* section main header */
.main_header,
.about {
    background-color: var(--bg-acqua);
    color: white;
}












/* LINE STAR */

.line-l::before {

    content: '';
	width: 140px;
	height: 4px;
	display: flex;

    }

.line-r::after {

    content: '';
	width: 140px;
	height: 4px;
	display: flex;

    }

  .line-l.black-line,
  .line-r.black-line {
      background-color: black;
      border-radius: 25px;
  }
  
  .line-l.white-line,
  .line-r.white-line {
      background-color: white;
      border-radius: 25px;
  }
















.contacts {
    background-color: var(--bg-darkblue);
    color: white;
}

.article {
    column-count: 2;
}


/* style */

